/* Esta parte para celulares*/
@media screen and (max-width:640px) {
html{
        font-size: 62.5%;
    }
    
*{
        margin:0;
        padding: 0;
    }

#icono_bitcoin{
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: sans-serif;
        font-size: 1.9rem;
        color: orange;
    }   
header{
        padding-left: 3px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 5rem;
        background-color: whitesmoke;
    }
header ul{
        display: flex;  
    }
    
li{
        margin: 0.2rem;
        border-radius: 30%;
        padding: 0.1rem;
        list-style-type: none;
        display: inline-block;
        width: 50px;
    }
    
    
a{
        font-family: 'Poppins', sans-serif;
        font-size: 1rem;
        color: black;
        text-decoration: none;
    }
        
a:hover{
            color: orange;
    }


/*Aca empieza el main*/
#Que_es{
    display: flex;
    align-items: center;
    border-width: 1px;
    border-color: black;
    font-size: 1.3rem;
    font-family: sans-serif;
    background-color: orange;
}


.grid-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(360px, 1fr));
    height: 100rem;
}

.grid-item{
    display: grid;
    grid-template-columns: 180px 1fr;
    border: 1.5px solid black;
    background-color: rgb(244, 216, 162);
}

#video_bitcoin{
    padding-left: 5px;
    padding-right: 2px;
    padding-top: 5px;
    padding-bottom: 5px;
    height: 39rem;
    width: 40rem;
    align-items: center;
    background-color: rgb(244, 216, 162);
    
}

#imagen_bitcoin{
    padding-left: 2px;
    padding-top: 1px;
}

#texto_bitcoin1{
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 5px;
    text-align: center;
    font-size: 1.2rem;
    background-color: rgb(244, 216, 162);
}


.s1{
    grid-area: uno;
    width: 95vw;
}

.s2{
    grid-area: dos;   
    width: 95vw;
}

.s3{
    padding-top: 20px;
    grid-area: tres;
    width: 95vw;
    height: 17rem;
}

#tabla{
    background-color: rgb(85, 99, 145);
}
th{
    font-family: 'Poppins', sans-serif;
    font-size:1.2rem;
    color: white;
    border:solid;
    /* width: 45vw; */
    text-align: center;
}

td{
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    text-align: center;
    color: whitesmoke;
    border: solid;
    width: 50vw;
}

#titu_bit_hoy{
    display: flex;
    align-items: center;
    background-color: rgb(46, 55, 86);
    font-size: 1.3rem;
    font-family: sans-serif;
    border-style: ridge;
}


.container {
    padding: 0.4rem;
    height: 110rem;
    display: grid;
    grid-template-areas: "uno"
                         "dos"
                         "tres";
    background-color:rgb(230, 235, 252);
}

#links1{
    font-size: 1.3rem;
    font-family: 'Poppins', sans-serif;
}

#links{
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;;
}


#Bitcoin-hoy{
    display: flex;
    align-items: center;
    border-width: 1px;
    border-color: black;
    font-size: 1.3rem;
    font-family: sans-serif;
    background-color: rgb(228, 228, 228);
}

.grid-container2{
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit,minmax(360px, 1fr));
    height: 80rem;
}

.grid-item2{
    display: grid;
    border: 1px solid black;
    background-color: rgb(255, 243, 250);
}

#texto_bitcoin{
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    font-size: 1.2rem;
    background-color: rgb(255, 243, 250)
}

#Noticias{
    background-color: rgb(22, 53, 52);
    border-width: 2px;
}

#Noticias{
    display: flex;
    align-items: center;
    border-width: 1px;
    border-color: black;
    font-size: 1.8rem;
    font-family: sans-serif;
    background-color: rgb(6, 88, 61);
}

#Texto_Encuesta{
    display: flex;
    align-items: center;
    border-width: 1px;
    border-color: black;
    font-size: 1.3rem;
    font-family: sans-serif; 
    background-color: orange;
}

#Encuesta{
    padding-top: 10px;
    padding-left: 15px;
    padding-bottom: 10px;
    font-size: 1.1rem;
    font-family: 'Poppins', sans-serif;
    background-color:rgb(252, 202, 109)
}
footer {
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8rem;
    font-size: 2rem;
    background-color: whitesmoke;
}

footer ul{
    display: flex;  
}

footer li{
    margin: 1rem;
    border-radius: 30%;
    padding: 0.8rem;
    list-style-type: none;
    display: inline-block;
    width: 130px;
}

#creacion{
    font-size: 1.1rem;
    font-style: sans-serif; 
}

#icono_bitcoin2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: sans-serif;
    font-size: 1.7rem;
    color: orange;
}

}

/* Hasta acá es para los celulares */
/* **************************************************** */


/* Esta parte para las tablet*/
/* **************************************************** */
@media screen and (max-width: 1024px) and (min-width:640px) {
html{
    font-size: 62.5%;
    }
        
*{
    margin:0;
    padding: 0;
}

#icono_bitcoin{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: sans-serif;
    font-size: 2.2rem;
    color: orange;
}
    
header{
    padding-left: 3px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6rem;
    background-color: whitesmoke;
}
  
header ul{
    display: flex;  
}
    
li{
    margin: 0.5rem;
    border-radius: 30%;
    padding: 0.4rem;
    list-style-type: none;
    display: inline-block;
    width: 90px;
}
a{
    font-family: 'Poppins', sans-serif;
    font-size:1.4rem;
    color: black;
    text-decoration: none;
}
       
a:hover{
    color: orange;
    }

/*Aca empieza el main*/
#Que_es{
    display: flex;
    align-items: center;
    border-width: 1px;
    border-color: black;
    font-size: 1.5rem;
    font-family: sans-serif;
    background-color: orange;
}


.grid-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(360px, 1fr));
    height: 92rem;
}

.grid-item{
    display: grid;
    grid-template-columns: 180px 1fr;
    border: 1.5px solid black;
    background-color: rgb(244, 216, 162);
}

#video_bitcoin{
    padding-left: 5px;
    padding-right: 2px;
    padding-top: 5px;
    padding-bottom: 5px;
    height: 49.5rem;
    width: 35.3rem;
    align-items: center;
    
}

#imagen_bitcoin{
    padding-left: 2px;
    padding-top: 1px;
}

#texto_bitcoin1{
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 5px;
    text-align: center;
    font-size: 1.5rem;
    background-color: rgb(244, 216, 162);
}


.s1{
    grid-area: uno;
    width: 95vw;
}

.s2{
    grid-area: dos;   
    width: 95vw;
}

.s3{
    padding-top: 20px;
    grid-area: tres;
    width: 95vw;
    height: 17rem;
}

#tabla{
    background-color: rgb(85, 99, 145);
}
th{
    font-family: 'Poppins', sans-serif;
    font-size:1.2rem;
    color: white;
    border:solid;
    /* width: 45vw; */
    text-align: center;
}

td{
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    text-align: center;
    color: whitesmoke;
    border: solid;
    width: 50vw;
}

#titu_bit_hoy{
    display: flex;
    align-items: center;
    background-color: rgb(46, 55, 86);
    font-size: 1.3rem;
    font-family: sans-serif;
    border-style: ridge;
}


.container {
    padding: 0.4rem;
    height: 110rem;
    display: grid;
    grid-template-areas: "uno"
                         "dos"
                         "tres";
    background-color:rgb(230, 235, 252);
}

#links1{
    font-size: 1.5rem;
    font-family: 'Poppins', sans-serif;
}

#links{
    font-size: 1.3rem;
    font-family: 'Poppins', sans-serif;;
}


#Bitcoin-hoy{
    display: flex;
    align-items: center;
    border-width: 1px;
    border-color: black;
    font-size: 1.3rem;
    font-family: sans-serif;
    background-color: rgb(228, 228, 228);
}

.grid-container2{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(360px, 1fr));
    height: 73rem;
}

.grid-item2{
    display: grid;
    border: 1.5px solid black;
    background-color: rgb(255, 243, 250);
}


#texto_bitcoin{
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    font-size: 1.2rem;
    background-color: rgb(255, 243, 250)
}

#Noticias{
    background-color: rgb(22, 53, 52);
    border-width: 2px;
}

#Noticias{
    display: flex;
    align-items: center;
    border-width: 1px;
    border-color: black;
    font-size: 1.8rem;
    font-family: sans-serif;
    background-color: rgb(6, 88, 61);
}

#Texto_Encuesta{
    display: flex;
    align-items: center;
    border-width: 1px;
    border-color: black;
    font-size: 1.3rem;
    font-family: sans-serif; 
    background-color: orange;
}

#Encuesta{
    padding-top: 10px;
    padding-left: 15px;
    padding-bottom: 10px;
    font-size: 1.1rem;
    font-family: 'Poppins', sans-serif;
    background-color:rgb(252, 202, 109)
}


footer {
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8rem;
    font-size: 2rem;
    background-color: whitesmoke;
}

footer ul{
    display: flex;  
}

footer li{
    margin: 1rem;
    border-radius: 30%;
    padding: 0.8rem;
    list-style-type: none;
    display: inline-block;
    width: 160px;
}

#creacion{
    font-size: 1.3rem;
    font-style: sans-serif; 
}

#icono_bitcoin2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: sans-serif;
    font-size: 2.2rem;
    color: orange;
}
}
    
/* Hasta acá es para las tablet */
/* **************************************************** */


/* Esta parte es para las PC */
/* **************************************************** */
@media screen and (min-width:1024px) {
html{
        font-size: 62.5%;
    }
    
*{
        margin:0;
        padding: 0;
    }

#icono_bitcoin{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: sans-serif;
    font-size: 3rem;
    color: orange;
}

header{
    padding-left: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8rem;
    background-color: whitesmoke;
}

header ul{
    display: flex;  
}

li{
    margin: 0.5rem;
    border-radius: 30%;
    padding: 0.4rem;
    list-style-type: none;
    display: inline-block;
    width: 110px;
}
a{
        font-family: 'Poppins', sans-serif;
        font-size:1.8rem;
        color: black;
        text-decoration: none;
    }
        
a:hover{
            color: orange;
    }

#Que_es{
    display: flex;
    align-items: center;
    border-width: 1px;
    border-color: black;
    font-size: 1.8rem;
    height: 2.8rem;
    font-family: sans-serif;
    background-color: orange;
}    
.grid-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(360px, 1fr));
    height: 50rem;
}
    
.grid-item{
    display: grid;
    grid-template-columns: 180px 1fr;
    border: 1.5px solid black;
    background-color: rgb(244, 216, 162);   
}
    
#video_bitcoin{
    padding-left: 5px;
    padding-right: 2px;
    padding-top: 5px;
    padding-bottom: 5px;
    height: 49rem;
    width: 49.5rem;
    background-color: rgb(244, 216, 162);        
}
    
#imagen_bitcoin{
    padding-left: 2px;
    padding-top: 1px;
}
    
 #texto_bitcoin1{
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    text-align: center;
    font-size: 1.5rem;
    background-color: rgb(244, 216, 162);
}

.container {
    padding: 0.4rem;
    height: 71rem;
    display: grid;
    grid-template-areas: "dos uno"
                         "dos tres";
    background-color:rgb(230, 235, 252);
}

.s1{
    grid-area: uno;
    width: 47vw;
}

.s2{
    grid-area: dos;   
    width: 50vw;
}

.s3{
    padding-top: 20px;
    grid-area: tres;
    width: 46.8vw;
    height: 17rem;
}

th{
    font-family: 'Poppins', sans-serif;
    font-size:1.5rem;
    color: white;
    border:solid;
    /* width: 45vw; */
    text-align: center;
}

td{
    font-family: 'Poppins', sans-serif;
    font-size: 1.3rem;
    text-align: center;
    color: whitesmoke;
    border: solid;
    width: 50vw;
}

#titu_bit_hoy{
    display: flex;
    align-items: center;
    background-color: rgb(46, 55, 86);
    font-size: 1.7rem;
    font-family: sans-serif;
    border-style: ridge;
}

#tabla{
    background-color: rgb(85, 99, 145);
}


#links1{
    font-size: 1.7rem;
    font-family: 'Poppins', sans-serif;
}

#links{
    font-size: 1.5rem;
    font-family: 'Poppins', sans-serif;;
}

#Bitcoin-hoy{
    display: flex;
    align-items: center;
    border-width: 1px;
    border-color: black;
    font-size: 1.8rem;
    font-family: sans-serif;
    background-color: rgb(228, 228, 228);
}

.grid-container2{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(360px, 1fr));
    height: 45rem;
    background-color: rgb(255, 243, 250);
}

#grid-item2{
    display: grid;
    border: 1.5px solid black;
    background-color: rgb(255, 243, 250);
}



#texto_bitcoin{
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    font-size: 1.5rem;
    background-color: rgb(255, 243, 250)
}


#Noticias{
    background-color: rgb(22, 53, 52);
    border-width: 2px;

}

#Noticias{
    display: flex;
    align-items: center;
    border-width: 1px;
    border-color: black;
    font-size: 1.8rem;
    font-family: sans-serif;
    background-color: rgb(6, 88, 61);
}

#Texto_Encuesta{
    display: flex;
    align-items: center;
    border-width: 1px;
    border-color: black;
    font-size: 1.8rem;
    font-family: sans-serif; 
    background-color: orange;
}

#Encuesta{
    padding-top: 10px;
    padding-left: 15px;
    padding-bottom: 10px;
    font-size: 1.3rem;
    font-family: 'Poppins', sans-serif;
    background-color:rgb(252, 202, 109)
}


footer {
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8rem;
    font-size: 2rem;
    background-color: whitesmoke;
}

footer ul{
    display: flex;  
}

footer li{
    margin: 1rem;
    border-radius: 30%;
    padding: 0.8rem;
    list-style-type: none;
    display: inline-block;
    width: 160px;
}

#creacion{
    font-size: 1.4rem;
    font-style: sans-serif; 
}

#icono_bitcoin2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: sans-serif;
    font-size: 2.5rem;
    color: orange;
}

}









