
.color-titulos{
    color: black;
    font-size: 30px;
    font-style:italic    ;
    font-family:Verdana, Tahoma, sans-serif;
    }
    
    .color-parrafos{
    color: black ;
    font-size: 20px;
    font-style: italic;
    font-family: Verdana, Tahoma, sans-serif;
    }
    
    .color-cabecera-tabla{
    color: black;
    font-size: 30px;
    font-style: italic;
    font-family: Verdana, Tahoma, sans-serif;
    }
    
    #style-para-h3 {
        color: black;
    font-size: 20px;
    font-family: Verdana, Tahoma, sans-serif;
    font-style: italic;
    }
    
    #style-para-a{
        background-color: #B1B3C8;
        border: solid #B1B3C8 10px;
        padding: 0;
        margin: 0;
        display: inline-block;
        list-style: none;
        font-style:italic    ;
        font-family:Verdana, Tahoma, sans-serif;
        font-size: 15px;
        }
       
       
       
        .color-iconos{
        color: black;
       }
    
       a {
        color: black;
        text-decoration: none;
       }
    html {
        font-size: 62.5%;
    }
    
    .grid-container{
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(360px, 1fr)); 
        
        row-gap: 0.3rem;
        column-gap: 0.3rem;
    }
    
    .grid-item{
        background-color: #C7BEBE;
        border: 1px solid black;
        display: grid;
        justify-content: center;
        align-items: center; 
        font-size: 15px;
    font-style: italic;
    font-family: Verdana, Tahoma, sans-serif;
    grid-template-columns: 150px 2fr;
    }
    
    #caja-especial {
        grid-column-start: 2;
        grid-column-end: 4;
    
        grid-row-start: 2;
        grid-row-end: 4;
    
    }
    .img-grid {
        width: 820px;
        height: 350px;
        display: grid;
    }
    .border{ 
        background-color: #CACAD6;
        height: 200px;
        margin: 5px 10px 15px 20px;
        padding: 30px;
    border: 20px inset black;
    }


    .container {
        padding: 1rem;
        height: 300vh;
        display: grid;
        grid-template-areas: "cuatro uno uno"
                             "cinco dos dos"
                             "none tres tres"
    }

    
    .s1{

        grid-area: uno;
        padding: 15px;
        
    }
    
    .s2{
        grid-area: dos;
        padding: 15px;
    }
    
    .s4{
        grid-area: cuatro;
        background-color: #CACAD6;
        border-radius: 30px;
        box-shadow: 11px 10px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 11px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 11px 10px 5px 0px rgba(0,0,0,0.75);
padding: 10px;
    }
    .s3{

        grid-area: tres;
        
    
    }

    .s5 {
        grid-area: cinco;
        height:20px ;
        width: 20px;
        padding: 15px
    }

    .animacion {
        display: inline-block;
        margin: 0 0.5rem;
      
        animation: bounceInRight ease infinite; /* referring directly to the animation's @keyframe declaration */
        animation-duration: 5s; /* don't forget to set a duration! */
        color: black;
    font-size: 30px;
    font-style:italic    ;
    font-family:Verdana, Tahoma, sans-serif;
      }

      .animacion2 {
        display: inline-block;
        margin: 0 0.5rem;
      
        animation:zoomIn ease infinite; /* referring directly to the animation's @keyframe declaration */
        animation-duration: 5s; /* don't forget to set a duration! */
        color: black;
    font-size: 30px;
    font-style:italic    ;
    font-family:Verdana, Tahoma, sans-serif;
      }

      .img-grid-area {
            width: 30vw ;
            height: 80vh;
      }

      footer {
        height: 20vh;
        font-size: 20px;
        border-radius: 30px;
      }

      hr {
        border: solid black;
    border-style:dotted;
      }
      
      table , th , td {border: groove black}

      header {
        border-radius: 30px;
      }

      @media screen and (max-width: 640px) {}

      @media screen and (max-width: 1024px) and (min-width:640px) {}
      
      @media screen and (min-width: 1024px) {}
      
